<h1>edit comment on user</h1>

<form action="<%= user_comment_url(@user_comment.id) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <%= render partial: "form", locals: {user_comment: @user_comment} %>

</form>
